<!DOCTYPE html>
<html lang="en">
<head>
   {{>headerlinks}}
</head>
<body>
  {{>navbar}}
<!-- main header -->
      <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 mx-auto">
              <div class="row">
                <!-- left -->
                <div class="col-md-6   main_header_left mx-auto">
               <figure>
                 <img style="width:800px;height:380px" src="images/404.jpg" alt="GK" class="img-fluid" title="ERROR  ">
               </figure>
                
                  <p>Welcome to Express World</p>
             <h2>{{errmsg}}</h2>
             <a href="/"><button type="button">GO BACK</button></a>
                  </div> 
                  </div>
                </div>
              </div>
              </div>
              
              <!-- footer code -->
         {{>footer}}
              
  
</body>
</html>