<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
</head>
<body>
  {{>navbar}}
<!-- main header -->
      <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 mx-auto">
              <div class="row">
                <!-- left -->
                <div class="col-md-6 main_header_left">
               <figure>
                 <img style="width:300px;height:auto" src="images/man.jpg" alt="GK" class="img-fluid" title="GKG">
               </figure>
                </div>
                <!-- right -->
                <div class="col-md-6 main_header_right">
                  <p>Welcome to weather app</p>
                  <h2>I am  A <span class="text_clr">Mern Stack Developer .</span></h2>
                <a href="https://www.facebook.com/gorakhkumar.gupta"><button type="button"  >About</button></a>
                  </div>
                  </div>
                </div>
              </div>
              </div>
              
              <!-- footer code -->
         {{>footer}}
              
  
</body>
</html>